/* Put your CSS here */
html, body {
    background: #ffffff;
}

#click_to_help { 
    margin: 50px 0;
}

#content p { 
    font-size: 10pt;
    padding-top: 15px; 
}

#header { 
    margin: 0px auto 30px auto;
    background-color: #e0e0e0;
    height: 60px;
}

.searchRow { 
    padding: 10px 0 10px 10px; 
}
.searchRow:hover { 
    background-color: #e3e3e3;
}

ul#about_nav.button-group li a.active { 
    background-color: #2ba6cb;
}

#teaser { 
    height: 200px;
    padding: 20px 0;
    margin: 0 auto 30px auto;
}

nav { 
    margin: -10px 0 0 0;
    /* height: 38px; */
}

nav ul { display: block; }

nav ul li { 
    list-style-type: none; 
    float: left;
    display: block;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    height: 30px;
    width: 90px;
    padding: 5px 0 5px 15px;
}

nav ul li a:hover { 
    text-decoration: underline;
}
nav ul li a.active { 
    font-weight: bold; 
}

dl.sub-nav dd a.active { 
    font-weight: bold;
    color: black;
}

#footer { 
    background-color: #000; 
    min-height: 100px;
    padding-top: 30px;
    margin-top: 30px;
}

#footer_content { 
    color: #e0e0e0;
    font-size: 10pt;
}

#footer div { 
}

.container div.result { 
    padding: 5px 0 5px 5px;
    border: 1px solid transparent;
}

.container div.result:hover,
.container div.result.focused { 
    background-color: #e3e3e3;
    cursor: pointer;
}

.container div.result div.hidden { 
    visibility: hidden;
}

.container div.result:hover div.hidden ,
.container div.result.focused div.hidden { 
    visibility: visible;
}

div#content div div p { 
    margin: 0 0 5px 0;
}

.selected, 
container div.result.selected { 
    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
           -border-radius: 3px; 
    background-color: #daf6b5;
    border: solid 1px #29671d;
}
.container div.result.selected:hover, 
.selected:hover { 
    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
           -border-radius: 3px; 
    background-color: #daf6b5;
    border: solid 1px #29671d;
}
