<style type="text/css">
    section { 
        min-height: 100px;
        padding: 50px 0 120px 0;
    }

    section.odd { 
        background: #0089ba;
        color: white;
    }
    
    section.even {
        background: #f7f3d3;
    }
    
    .negmarg {
        margin-top: -100px;
        margin-bottom: -160px;
        -webkit-border-radius: 0px;
        z-index: 9;
        position: relative;
    }
</style>
<section id="top" class="odd">
    <div class="container text-center">
        <h1>Find your school's list</h1>
        <h4>And finish your back to school shopping in minutes</h4>
    </div>
</section>
<section class="even">
    <div class="container panel negmarg">
        <h1>Back To School List</h1>
        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

        <p>Lorem ipsum te nam congue vivendo cotideique, ut nihil albucius sapientem
        his.  At agan nonummy splendide eam, in nam explicari prodesset conclusionemque, 
        magna praesent mediocrem quo et.</p>

    </div>
</section>
<section id="top" class="odd">
    <div class="container text-center">
        <h1>Find your school's list</h1>
        <h4>And finish your back to school shopping in minutes</h4>
    </div>
</section>
