<div id="map-canvas" ng-style="mapStyle">
    <div class="container">
        <div class="row" style="padding-top: 80px;">
            <div class="col-lg-12 text-center">
                <div id="map-search-div">
                    <div class="input-group input-group-lg text-center">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" class="form-control" placeholder="Search for another school">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="location-bar">
    <div class="container">
        <div class="row">
            <div id="non-teaser" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <span style="font-size: 3em; color: white; margin-top: 40px;" class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div id="non-teaser" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <h1>{{ school.name }}</h1><h4>{{ school.city }}</h4>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br />
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="col-lg-12 col-md-12 col-sm-12 thumbnail" ng-repeat="category in categories">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-header">
                                <h1 class="list"><span class="glyphicon glyphicon-circle-arrow-down"></span> &nbsp;&nbsp; <a href="" ng-click="getListsForCategory(school.uid, category.id);">{{ category.name }}</a></h1>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-show="categoryTimeout==category.id"><span class="glyphicon glyphicon-refresh"></span></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="list in lists_for_category" style="padding-bottom: 20px; border-bottom: 0;" ng-show="selectedCategory==category.id">
                                <h4 class="list"><span class="glyphicon glyphicon-list"></span> &nbsp;&nbsp; <a href="/school/{{ school.uid }}/{{ list.id }}">{{ list.name }}</a></h4>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-md-12 col-xs-12 thumbnail" ng-repeat="list in lists">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-header">
                                <h4 class="list"><span class="glyphicon glyphicon-list"></span> &nbsp;&nbsp; <a href="/school/{{ school.uid }}/{{ list.id }}">{{ list.name }}</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h2>{{ school.name }}</h2>
                        <p>{{ school.address }}</p>
                        <p>{{ school.address2 }}</p>
                        <p>{{ school.city }}, {{ school.state }} {{ school.zipcode }}</p>
                        <p ng-show="school.principal">Principal: {{ school.principal }}</p>
                        <hr />
                        <p ng-show="school.phone">Phone: {{ school.phone }}</p>
                        <p ng-show="school.fax">Fax: {{ school.fax }}</p>
                        <p ng-show="school.website"><a href="{{ school.website }}" target="_new">Website</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
