<!doctype html>
<html data-ng-app="App" data-ng-controller="GlobalController">
    <head>
        <title>Support Classrooms</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <script src="/static/js/jquery-2.0.3.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/navslider.js"></script>
        <link rel="stylesheet" href="/static/css/grades.css" />
        <link rel="stylesheet" href="/static/css/slider.css" />
        <!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdvpkAe1SwVB-sb3XbsRKJBWs2oHsYbcI&sensor=false"></script-->
        <script src="/static/js/libs/showdown.js"></script>
        <script src="/static/js/angular-1.2.13/angular.min.js"></script>
        <script src="/static/js/angular-1.2.13/angular-route.js"></script>
        <script src="//cdn.jsdelivr.net/lodash/1.3.1/lodash.js"></script>
        <script src="//cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        {% include "nav.html" %}
        <div data-ng-view=""></div>
        {% include "footer.html" %}
    </body>
</html>
