<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <h3>About Us</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Staff</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Financial</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <h3>Legal</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Copyright</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <h3>Support Us</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Why Support Us</a></li>
                    <li><a href="#">Volunteer</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Shop</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Find Us on Facebook</a></li>
                    <li><a href="#">Follow Us on Twitter</a></li>
                    <li><a href="#">Google+</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right" style="margin-top: 5px;">
                <img src="/static/images/facebook.png" style="height: 96px;" />
                <img src="/static/images/twitter.png" style="height: 96px;" />
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
        &copy; 2014 SupportClassrooms
    </div>
</div>
