<style type="text/css">
    #get_involved { 
        margin: 0px 0 10px 0;
        height: 30px;
        padding: 0 auto 20px auto;
        display: block;
        -webkit-border-radius: 20px;
    }

    #get_involved_list { 
        margin: 5px 0 0 0;
        padding: 0;
    }

    #logo { margin: 0; padding: 0; }
</style>
<nav id="nav" class="navbar navbar-default" role="navigation" style="margin-bottom: 0;" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id="logo" href="/"><img class="logo" src="/static/images/logo.png" /></a></li>
                <p class="navbar-text navbar-left" style="font-weight: bold; color: green;">SupportClassrooms</p>
                <li><a href="/back_to_school">Back to School Lists</a></li>
                <li><a href="/wish_lists">Teacher Wish Lists</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="get_involved_list"><a id="get_involved" class="btn btn-default" href="/get_involved">Get Involved</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
