<div class="row">
    <div class="large-12 columns">
        <ul id="about_nav" class="button-group even-8">
            <li><a href="#/about/directors" class="secondary button">Directors</a></li>
            <li><a href="#/about/officers" class="button">Officers</a></li>
            <li><a href="#/about/faq" class="secondary button">FAQ</a></li>
        </ul>

        <h3 class="subheader">Officers</h3>
        <div class="panel large-12 columns" data-ng-repeat="officer in officers">
            {{ officer.name }}<br />
            {{ officer.title }}<br />
        </div>
    </div>
</div>
